@import "vars"
@import "fonts"
@import "main.scss"
@import "libs"
@import "_mixins/_keyframes.sass"

/*==========  user style  ==========*/
a
	transition: .3s
	&:link
		outline: none 0
	&:visited
		outline: none 0
	&:hover
		text-decoration: none
	&:active
		outline: none 0

body
	position: relative
	&:before,
	&:after
		content: ''
		position: absolute
		max-width: 100px
		width: 10vw
		top: 0
		bottom: 0
		background-color: #e9e9e9
		+media-breakpoint-down(lg)
			max-width: 50px
	&:before
		left: 0
	&:after
		right: 0

ul
	margin: 0
	padding: 0
	list-style: none

.fix-padding-left
	padding-left: 0
	+media-breakpoint-down(lg)
		padding-left: 7.5px

header
	background-color: $accent
	position: sticky
	top: 0
	right: 0
	left: 0
	z-index: 9999
	box-shadow: 0 0 3px 2px rgba(0,0,0,0.1)

.menu
	display: flex
	justify-content: center
	align-items: center
	&__item
		margin: 0 20px
		a
			display: inline-block
			padding: 37px 0
			font-weight: bold
			color: #888
			font-size: 18px
			&:hover
				color: #fff
			&.active
				color: #fff

.logo__wrapper
	position: fixed
	left: 0
	top: 0
	background-color: #000

.cart__wrapper
	position: fixed
	right: 0
	top: 0
	background-color: #fff
	.cart
		color: #000
		width: 100px
		display: flex
		justify-content: center
		align-items: center
		height: 101px

.body__inner
	margin: 0 100px
	+media-breakpoint-down(lg)
		margin: 0 50px

.banner
	padding: 15px 0
	&-slider
		height: 100%
		&__item
			position: relative
		&__img
			width: 100%
			height: 100%
			img
				width: 100%
				height: 100%
				object-fit: cover
		&__icon
			img
				margin: 0 auto
		&__text
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%,-50%)
			text-align: center
			width: 100%
			h2
				font-size: 80px
				text-transform: uppercase
				color: #fff
			p
				text-transform: uppercase
				letter-spacing: 15px
				color: #000
				font-size: 32px
	&__section
		position: relative
		height: 285px
		overflow: hidden
		+media-breakpoint-down(lg)
			height: 210px
		&:hover .banner__section__img:before
			opacity: .3
		&:hover img
			transform: scale(1.1)
		&-1
			+media-breakpoint-down(lg)
				margin-top: 15px
			&:before
				width: 2px
				margin-top: 0px
				margin-left: 3px
				background: rgba(255,255,255,0.8)
			&:after
				width: 6px
				margin-top: -146px
				margin-left: 55px
				background: rgba(255,255,255,0.5)
			&:before,
			&:after
				position: absolute
				top: -25%
				left: 25%
				content: ""
				height: 350px
				z-index: 9
				transform: skewX(-26deg)
				transition-delay: .1s
				transition: .3s ease-in-out
			&:hover:before,
			&:hover:after
				top: -19%
				left: 22%
				transform: skewX(-32deg)
				transition: .3s ease-in-out
		&-2
			&:before
				width: 2px
				margin-top: 47%
				margin-left: 37%
				background: rgba(255,255,255,0.8)
			&:after
				width: 6px
				margin-top: 23%
				margin-left: 45.5%
				background: rgba(255,255,255,0.5)
			&:before,
			&:after
				position: absolute
				top: -25%
				left: 25%
				content: ""
				height: 350px
				z-index: 9
				transform: skewX(-26deg)
				transition-delay: .1s
				transition: .3s ease-in-out
			&:hover:before,
			&:hover:after
				top: -19%
				left: 22%
				transform: skewX(-32deg)
				transition: .3s ease-in-out
		&-3
			background-color: #333333
			.banner__section__text
				color: #fff
		&-4,
		&-5
			.banner__section__text
				color: #fff
		&-2,
		&-3,
		&-4,
		&-5
			margin-top: 15px
		&__row
			height: 100%
		&__img
			overflow: hidden
			width: 100%
			height: 100%
			position: relative
			&:before
				position: absolute
				content: ''
				top: 0
				bottom: 0
				right: 0
				left: 0
				background-color: #fff
				opacity: 0
				transition: .3s
				z-index: 9
			img
				width: 100%
				height: 100%
				object-fit: cover
				transition: .3s
		&__text
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%,-50%)
			text-align: center
			color: #000
			z-index: 10
		p
			font-size: 20px
		&__title
			display: flex
			align-items: center
			justify-content: center
			span
				text-transform: uppercase
				font-weight: bold
				line-height: 1
				font-size: 36px
				transition: all .3s linear
				vertical-align: baseline
				&:hover
					font-size: 28px

.partner
	padding: 50px 0
	.col
		width: 10%
		+media-breakpoint-down(lg)
			width: 20%
	&__img
		opacity: .5
		transition: .3s
		&:hover
			opacity: 1

.trand
	.product__img
		overflow: hidden

.product-dialog-description
	&.product__item
		&:hover
			box-shadow: none
#product-dialog
	figure
		overflow: hidden
		margin: 0
		img
			width: 100%
			height: 100%
			object-fit: contain
	.product__price
		margin-top: 30px
		font-size: 20px
	.rub
		padding-left: 5px
		margin-top: 30px
		font-size: 20px

.product
	&__item
		transition: .3s
		margin-bottom: 50px
		&:hover .product__desc
			bottom: 50px
		&:hover .btn
			visibility: visible
			opacity: 1
		&:hover
			box-shadow: 0 5px 15px 0 rgba(0,0,0,.29)
	&__img
		width: 100%
		img
			width: 100%
			object-fit: cover
	&__title
		font-weight: normal
		font-size: 16px
		margin-bottom: 0
		a
			color: #666
			&:hover
				color: #e97e3d
		&-price__wrap
			background-color: #fff
			padding: 10px
			padding-bottom: 0
	&__price
		font-weight: bold
		margin-top: 10px
	&__desc
		position: relative
		transition: .4s
		bottom: 0


.size
	display: flex
	&__item
		border: 2px solid #ccc
		width: 30px
		height: 30px
		display: flex
		justify-content: center
		align-items: center
		cursor: pointer
		transition: .3s
		&_active
			border-color: #e97e3d
		&:not(:last-child)
			margin-right: 10px

.slider-product
	&__item
		margin: 0 8px

.slick-dots
	position: absolute
	bottom: 50px
	+media-breakpoint-down(md)
		bottom: 15px
	li
		width: 15px
		height: 15px
		background-color: #fff
		border-radius: 50%
		overflow: hidden
		box-shadow: 0 0 2px 2px rgba(0,0,0,0.2)
		margin: 0 12px
		&.slick-active
			background-color: #000000
		button
			&:before
				content: none
.slick-dotted.slick-slider
	margin-bottom: 0
.slick-track,
.slick-list
	height: 100%
.slick-slide
	&:focus
		outline: 0 none

.btn_quick,
.btn_order,
.smart-basket__close-form
	display: inline-block
	text-transform: uppercase
	color: #000
	text-align: center
	font-weight: bold
	padding: 5px
	position: absolute
	right: 0
	left: 0
	opacity: 0
	width: 100%
	border: none
	outline: 0 none
	cursor: pointer
	transition: .3s
	&:hover
		background-color: #e97e3d
		color: #fff
.btn_quick
	background-color: #e5e5e5
	top: 0
	top: -50px
.btn_order
	background-color: #000000
	bottom: 0
	bottom: -50px
	color: #fff
.btn_form_order,
.smart-basket__close-form
	position: static
	opacity: 1
.smart-basket__close-form
	font-size: 16px
	color: #fff
	padding: 15px 30px
	width: auto
	background-color: #e97e3d

.size__item
	

#product-dialog
  text-align: left
  max-width: 45%
  padding: 15px
  margin: 40px auto
  position: relative
  background-color: #fff
  +media-breakpoint-down(lg)
    max-width: 75%
  +media-breakpoint-down(md)
    max-width: 85%
  +media-breakpoint-down(sm)
    max-width: 95%
  figure
    img
      width: 100%
  h2
    text-transform: uppercase
    font-size: 2em
    line-height: 1.3
    +media-breakpoint-down(lg)
      font-size: 2em
    +media-breakpoint-down(md)
      font-size: 1.7em
  .price,
  .rub
    font-size: 18px
    font-weight: bold
    color: #000
  button.btn
    border: none
    background-color: #000
    color: #ffffff
    text-transform: uppercase
    letter-spacing: 1px
    font-weight: bold
    padding: 10px 30px
    font-size: 1em
    cursor: pointer
    margin-top: 30px
    +media-breakpoint-down(lg)
      font-size: 1.3em
    +media-breakpoint-down(md)
      padding: 10px 30px
  .count
    border: 1px solid #000000
    border-radius: 20px
    margin-right: 40px
    +media-breakpoint-down(sm)
      width: fit-content
      margin: 0 auto
    .quality
      padding: 10px 15px
      line-height: 1
      cursor: pointer
      font-weight: bold
    #count-product
      max-height: 45px
      width: 45px
      padding: 10px 10px 9px 15px
      -moz-appearance: textfield
      line-height: 1
      font-size: 18px
      border: none
      &:focus
        outline: none 0
      &::-webkit-inner-spin-button
        display: none
  .product-price-quality
    +media-breakpoint-down(sm)
      display: block !important
      text-align: center
  .wrap-btn
    +media-breakpoint-down(sm)
      text-align: center

.smart-basket__min
	background: none
	border: none
	outline: 0 none
	color: #000
	&:focus
		outline: 0 none
.smart-basket__min-icon
	width: 28px
.smart-basket__min-count
	vertical-align: super
	padding-left: 3px
	font-weight: bold
.smart-basket__product-id
	visibility: hidden
.smart-basket__form
	box-shadow: 0 5px 15px 0 rgba(0,0,0,.29)
.smart-basket__alert-wrapper
	z-index: 9999
.smart-basket__empty-title
	color: #000
.smart-basket__footer
	display: flex
	justify-content: space-between
.smart-basket__form
	margin: auto
	background-color: #fff
.smart-basket
	background-color: rgba(#000,.8)
.smart-basket__send-form
	background-color: #000
	text-transform: uppercase
	font-weight: bold
.smart-basket__input-agreement:checked+.smart-basket__label-agreement:before
	background-color: #ccc
.smart-basket__input-agreement:checked+.smart-basket__label-agreement:after
	background-color: #000
.smart-basket__product-item
	font-weight: bold

.smart-basket__input-wrapper,
.smart-basket__agreement-wrapper
	input
		height: 50px
		font-size: 14px
		padding: 8px 10px
		background-color: #FFF
		border: 1px solid #e6e6e6
		border-radius: 0
.smart-basket__agreement-wrapper
	height: 50px
	font-size: 14px
	padding: 8px 10px
	background-color: #FFF
	border: 1px solid #e6e6e6
	border-radius: 0

.section__title
	h2
		text-align: center
		margin-bottom: 40px
		font-size: 50px
		font-weight: bold

.slick-arrow
	background-color: #fff
	width: 50px
	height: 50px
	border-radius: 50%
	box-shadow: 0 5px 15px 0 rgba(0,0,0,.29)
	opacity: 0
	transition: .3s
.slick-next
	right: 0
	&:before
		content: '\f105'
		font-family: "FontAwesome"
		color: #000
	&:hover
		background-color: #fff
.slick-prev
	left: 0
	z-index: 999
	&:before
		content: '\f104'
		font-family: "FontAwesome"
		color: #000
	&:hover
		background-color: #fff
.slider-product
	&:hover
		.slick-arrow
			opacity: 1

.category
	padding: 100px 0
	+media-breakpoint-down(md)
		padding: 60px 0
	&__item
		position: relative
		+media-breakpoint-down(md)
			margin-bottom: 15px
		&:hover .category__img:after
			opacity: .3
		&:hover img
			transform: scale(1.1)
	&__img
		overflow: hidden
		&:after
			position: absolute
			content: ''
			top: 0
			right: 0
			left: 0
			bottom: 0
			background-color: #000
			opacity: 0
			transition: .3s
		img
			width: 100%
			transform: scale(1)
			transition: .3s
	&__name
		position: absolute
		left: 50%
		bottom: 30px
		transform: translateX(-50%)
		font-weight: bold
		color: #000

.lookbook
	padding: 80px 15px
	+media-breakpoint-down(md)
		padding: 60px 15px 0
	&__item
		position: relative
		+media-breakpoint-down(md)
			margin-bottom: 15px
	&__img
		overflow: hidden
		img
			width: 100%
	&__content-1,
	&__content-2,
	&__content-3,
	&__content-4,
	&__content-5
		+media-breakpoint-down(lg)
			width: 40px !important
			height: 40px !important
	&__content-1
		position: absolute
		width: 50px
		height: 50px
		background-color: red
		border-radius: 50%
		cursor: pointer
		top: 15%
		right: 31%
		&:after
			content: "+"
			position: absolute
			left: 50%
			top: 43%
			transform: translate(-50%,-50%)
			font-weight: bold
			color: #fff
			font-size: 24px
			line-height: 1
			z-index: 1
		&:before
			background-color: rgba(#fff,1)
			content: ''
			position: absolute
			left: 50%
			top: 50%
			transform: translate(-50%,-50%)
			width: 50px
			height: 50px
			animation: animation-1 1s infinite forwards
			border-radius: 50%
			z-index: 0
			opacity: .3
		&:hover .hidden__content
			opacity: 1
			visibility: visible
	&__content-2
		position: absolute
		width: 50px
		height: 50px
		background-color: red
		border-radius: 50%
		cursor: pointer
		bottom: 20%
		right: 15%
		&:after
			content: "+"
			position: absolute
			left: 50%
			top: 43%
			transform: translate(-50%,-50%)
			font-weight: bold
			color: #fff
			font-size: 24px
			line-height: 1
			z-index: 1
		&:before
			background-color: rgba(#fff,1)
			content: ''
			position: absolute
			left: 50%
			top: 50%
			transform: translate(-50%,-50%)
			width: 50px
			height: 50px
			animation: animation-1 1s infinite forwards
			border-radius: 50%
			z-index: 0
			opacity: .3
		&:hover .hidden__content
			opacity: 1
			visibility: visible
	&__content-3
		position: absolute
		width: 50px
		height: 50px
		background-color: red
		border-radius: 50%
		cursor: pointer
		bottom: 35%
		right: 30%
		&:after
			content: "+"
			position: absolute
			left: 50%
			top: 43%
			transform: translate(-50%,-50%)
			font-weight: bold
			color: #fff
			font-size: 24px
			line-height: 1
			z-index: 1
		&:before
			background-color: rgba(#fff,1)
			content: ''
			position: absolute
			left: 50%
			top: 50%
			transform: translate(-50%,-50%)
			width: 50px
			height: 50px
			animation: animation-1 1s infinite forwards
			border-radius: 50%
			z-index: 0
			opacity: .3
		&:hover .hidden__content
			opacity: 1
			visibility: visible
	&__content-4
		position: absolute
		width: 50px
		height: 50px
		background-color: red
		border-radius: 50%
		cursor: pointer
		top: 25%
		right: 30%
		&:after
			content: "+"
			position: absolute
			left: 50%
			top: 43%
			transform: translate(-50%,-50%)
			font-weight: bold
			color: #fff
			font-size: 24px
			line-height: 1
			z-index: 1
		&:before
			background-color: rgba(#fff,1)
			content: ''
			position: absolute
			left: 50%
			top: 50%
			transform: translate(-50%,-50%)
			width: 50px
			height: 50px
			animation: animation-1 1s infinite forwards
			border-radius: 50%
			z-index: 0
			opacity: .3
		&:hover .hidden__content
			opacity: 1
			visibility: visible
	&__content-5
		position: absolute
		width: 50px
		height: 50px
		background-color: red
		border-radius: 50%
		cursor: pointer
		bottom: 5%
		right: 35%
		&:after
			content: "+"
			position: absolute
			left: 50%
			top: 43%
			transform: translate(-50%,-50%)
			font-weight: bold
			color: #fff
			font-size: 24px
			line-height: 1
			z-index: 1
		&:before
			background-color: rgba(#fff,1)
			content: ''
			position: absolute
			left: 50%
			top: 50%
			transform: translate(-50%,-50%)
			width: 50px
			height: 50px
			animation: animation-1 1s infinite forwards
			border-radius: 50%
			z-index: 0
			opacity: .3
		&:hover .hidden__content
			opacity: 1
			visibility: visible


.lookbook__content-1,
.lookbook__content-2,
.lookbook__content-3,
.lookbook__content-4,
.lookbook__content-5
	.hidden__content
		width: 170px
		position: absolute
		right: -350%
		top: -20%
		background-color: #fff
		box-shadow: 0 5px 15px 0 rgba(0,0,0,.29)
		border-radius: 5px
		overflow: hidden
		opacity: 0
		visibility: hidden
		transition: .3s
		text-align: center
		z-index: 88
		&__img
			img
				width: 100%
		&__name
			text-align: center
			font-size: 14px
			font-weight: bold
.lookbook__content-2
	.hidden__content
			left: -350%
			top: -100%
.lookbook__content-5
	.hidden__content
			left: -350%
			top: -500%

.featured
	padding: 100px 0

.instagram
	position: relative
	z-index: 1
	&:before
		content: '#INSTAGRAM'
		position: absolute
		top: 50%
		left: 50%
		background-color: rgba(#fff,.4)
		z-index: 77
		padding: 15px 40px
		transform: translate(-50%,-50%)
		font-weight: bold
		letter-spacing: 5px
	&__img
		position: relative
		&:before
			content: '\f16d'
			font-family: "FontAwesome"
			top: 50%
			left: 50%
			position: absolute
			color: #fff
			transform: translate(-50%,-50%)
			font-size: 24px
			opacity: 0
			transition: .3s
		&:after
			content: ''
			position: absolute
			top: 50%
			right: 50%
			left: 50%
			bottom: 50%
			background-color: rgba(#fff,0.3)
			transition: .3s
			border-radius: 50%
		&:hover:before
			opacity: 1
		&:hover:after
			left: 0
			right: 0
			bottom: 0
			top: 0
			border-radius: 0
		img
			width: 100%


.info
	background: url('../img/bg-info.jpg') no-repeat
	padding: 100px 0
	position: relative
	z-index: 1
	&__item
		text-align: center
		color: #fff
		width: 350px
		height: 350px
		margin: 0 auto
		background-color: rgba(243,125,78,.7)
		box-shadow: 0 0 0 10px #c26c4b
		border-radius: 50%
		display: flex
		justify-content: center
		align-items: center
		&__title,
		.bold
			font-weight: bold
			text-transform: uppercase
		&__title
			font-size: 20px
		.hr
			display: inline-block
			width: 70px
			height: 2px
			background-color: #fff
			margin: 20px 0
		.bold
			margin-bottom: 0
			& ~ p
				margin-bottom: 0
				font-size: 14px

.footer
	position: relative
	z-index: 1
	background-color: #222
	padding: 80px 0
	h2
		text-transform: uppercase
		color: #fff
	.menu-bottom
		li
			margin-bottom: 15px
			a
				color: #fff
.address
	li
		color: #fff
		margin-bottom: 15px
.copyright
	background-color: #000
	position: relative
	z-index: 1
	p
		margin-bottom: 0
		padding: 15px 0
		color: #ccc
		font-size: 14px
/*==========  user style  ==========*/

+keyframes(animation-1)
	0%
		width: 0px
		height: 0px
	100%
		width: 75px
		height: 75px

@import "media" // Always at the end